spring:
  datasource: # notidb
    url: jdbc:mysql://3.36.243.27:3306/noti?useSSL=false&characterEncoding=UTF-8&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: onusDB #admin
    password: onus2021 #noti
    driver-class-name:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  output:
    ansi:
      enabled: always

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true
    database: mysql

logging:
  level:
    org.hibernate.SQL: debug

server:
  port: 8080


